WEBHOOK_URL = '' # Slack webhook
DEBUG_WEBHOOK = '' # Webhook for sending debug information
DEBUG = False

# Use to override default webhook messaging settings
BOT_NAME = 'WorldCup-Bot'  # Bots username
ICON_EMOJI = ':soccer:'    # Bots Avatar
CHANNEL = ''               # Channel to send messages to. Ex: 'random'
DEBUG_CHANNEL = ''         # Channel to send debug messages
